<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bcfcb">  <td>19/10/08 21:58:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test_Login.setUpTest()[pri:0, instance:test.Test_Login@66a3ffec]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td>  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>19/10/08 21:58:57</td>   <td>42376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Login.formulario()[pri:0, instance:test.Test_Login@66a3ffec]">formulario</td> 
  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>19/10/08 21:59:01</td>   <td>45869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test_Login.tearDown(org.testng.ITestResult)[pri:0, instance:test.Test_Login@66a3ffec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>19/10/08 21:59:01</td>   <td>46240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test_Login.setUpTest()[pri:0, instance:test.Test_Login@66a3ffec]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td>  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>19/10/08 21:59:15</td>   <td>60102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Login.registro()[pri:0, instance:test.Test_Login@66a3ffec]">registro</td> 
  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>19/10/08 21:59:17</td>   <td>62559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test_Login.tearDown(org.testng.ITestResult)[pri:0, instance:test.Test_Login@66a3ffec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1454127753</td>   <td></td> </tr>
</table>
